@import url("/home/keshav/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

tooltip {
  background: @background;
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid @color5;
}

tooltip label {
  color: @foreground;
}

.modules-left,
.modules-right,
.modules-center {
  background: @background;
  border: 1px solid @color12;
  border-radius: 10px;
  padding: 2px 7px;
}

#custom-lock_screen,
#custom-power_btn,
#custom-playpause,
#custom-playerlabel,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#tray,
#workspaces,
#idle_inhibitor,
#backlight {
  margin: 0px 10px;
}

#workspaces button {
  color: @color6;
}

#workspaces button.active {
  color: @color15;
}

#workspaces button:hover {
  color: @color10;
}
