[user]
    name = Keshav
    email = s.keshav13142@gmail.com
    signingKey = ~/.ssh/git_signing.pub

[alias]
    br = branch
    c = commit -m
    cl = clone
    co = checkout
    d = diff
    fpush = push --force-with-lease
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --topo-order --date=relative
    lp = log -p
    ls = ls-files
    rl = reflog
    s = status
    st = status -sb
    wtf = !git-wtf

[branch]
    sort = -commmiterdate

[color]
    ui = true

[column]
    ui = always

[commit]
    verbose = true
    gpgsign = true

[core]
    editor = nvim

[github]
    user = keshav13142

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[http]
    sslVerify = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[rerere]
    enabled = true
    autoUpdate = true

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true
